@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: #02090F
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  @apply w-full
}

p {
  @apply font-medium
}
h1 {
  @apply text-h1 font-black mb-3 md:mb-6
}
h2 {
  @apply text-h2 font-black mb-3
}

.article > h2 {
  @apply mt-12 lg:mt-16 
}