@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
:root {
}


html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100));
}

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  color: #02090F
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  @apply w-full
}

p {
  @apply font-medium
}
h1 {
  @apply text-h1 font-black mb-3 md:mb-6
}
h2 {
  @apply text-h2 font-black mb-3
}

.article > h2 {
  @apply mt-12 lg:mt-16 
}

/*! locomotive-scroll v4.1.0 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }



  .tags-8 {
      animation: Group_208__x__1 708ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_208__x__1 {
    from {
      left: 50%
  }

  to {
      left: 0%
  }
  }
  
  .tags-7 {
      animation: Group_212__x__1 836ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_212__x__1 {
    from {
      left: 50%
  }

  to {
      left: 0%
  }
  }
  
  .tags-6 {
      animation: Group_211__x__1 984ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_211__x__1 {
    from {
      left: 50%
  }

  to {
      left: 0%
  }
  }
  
  .tags-5 {
      animation: Group_209__x__1 930ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_209__x__1 {
    from {
      left: -50%
  }

  to {
      left: 0%
  }
  }
  
 .tags-4 {
      animation: Group_206__x__1 435ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_206__x__1 {
    from {
      left: 50%
  }

  to {
      left: 0%
  }
  }
  
  .tags-3 {
      animation: Group_210__x__1 676ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_210__x__1 {
    from {
      left: 50%
  }

  to {
      left: 0%
  }
  }
  
  .tags-2 {
      animation: Group_207__x__1 1009ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_207__x__1 {
    from {
      left: -50%
  }

  to {
      left: 0%
  }
  }
  
  .tags-1 {
      animation: Group_205__x__1 836ms 0ms ease-in-out forwards;
  }
  
  @keyframes Group_205__x__1 {
    from {
      left: -50%
  }

  to {
      left: 0%
  }
  }
  